<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>

<body>
    <%- include('partials/header') %>

    <main>
        <h2>Votre Panier</h2>
        <% if (data.length === 0) { %>
            <p>Votre panier est vide.</p>
        <% } else { %>
            <ul>
                <% let total = 0; %>
                <% data.forEach(item => { %>
                    <li>
                        <img src="/static/images/<%=item.name%>.jpg" alt="<%= item.name %>" width="50">
                        <%= item.name %> - $<%= item.price %> x <%= item.CartQuantity %>
                        <form action="/cart/remove" method="DELETE" style="display:inline;">
                            <input type="hidden" name="productId" value="<%= item.productId %>">
                            <button type="submit" class="btn btn-remove">Remove</button>
                        </form>
                    </li>
                    <% total += item.price * item.CartQuantity; %>
                <% }); %>
            </ul>
            <div id="cart-summary">
                <p>Total: $<%= total.toFixed(2) %></p>
            </div>
            <a href="/checkout" id="checkout-button">Passer à la caisse</a>
        <% } %>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
