<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/product.css">
</head>

<body>
    <%- include('partials/header') %>

    <main>
        <div class="product-details">
            <h2><%= product.name %></h2>
            <img src="/static/images/<%= product.name%>.jpg" alt="<%= product.name %>">
            <p><strong>Prix :</strong> $<%= product.price %></p>
            <p><strong>Description :</strong> <%= product.description %></p>
            <p><strong>Catégorie :</strong> 
                <% if (product.category_id === 1) { %>
                    High Tech
                <% } else if (product.category_id === 2) { %>
                    Clothes and Accessories
                <% } else if (product.category_id === 3) { %>
                    Books
                <% } %>
            </p>

            <div class="product-actions">
                <!-- Formulaire pour "Add to Cart" -->
                <form action="/cart/add" method="POST">
                    <input type="hidden" name="productId" value="<%= product.product_id %>">
                    <label for="quantity">Quantité:</label>
                    <input type="number" name="quantity" value="1" min="1">
                    <button type="submit" class="btn btn-cart">Add to Cart</button>
                </form>
                
                <!-- Formulaire pour "Buy Now" -->
                <form action="/checkout" method="POST">
                    <input type="hidden" name="productId" value="<%= product.id %>">
                    <button type="submit" class="btn btn-buy">Buy Now</button>
                </form>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
